.button_link {
    display: inline-flex;
    align-items: center; 
    justify-content: center; 
    width: 60px; 
    height: 60px; 
    background-color: #01090d; 
    color: white; 
    text-decoration: none;
    border-radius: 50%; 
    margin: 10px; 
    font-size: 1.5em; 
    transition: background-color 0.3s, transform 0.3s; 
}

.button_link:hover {
    background-color: grey; 
    transform: scale(1.05);
}
.submit_button {
    background-color: #010101; 
    color: white; 
    height: 50px; 
    width: 5px; 
    border: none; 
    border-radius: 15px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
  }
  
  .submit_button:hover {
    background-color: #565759; 
    transform: scale(1.05); 
  }
  